.container {
  margin-left: 14rem;
  margin-right: 14rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.cartTotal {
  padding-left: 3rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  min-height: 100%;
}