/* Large Devices (Desktops & Laptops) */

@media (min-width: 1200px) and (max-width: 1299px) {

}


/* Medium Devices (Landscape Tablets & Medium Desktops) */

@media (min-width: 992px) and (max-width: 1199px) {

}


/* Small Devices (Portrait Tablets & Small Desktops) */

@media (min-width: 768px) and (max-width: 991px) {
  .testimonials {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}


/* Extra Small Devices (Landscape Phones & Portrait Tablets) */

@media (max-width: 767px) {
  .testimonials {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}


/* Extra Small Devices (Portrait Phones & Smaller Devices) */

@media (max-width: 480px) {
  .testimonials {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}


/* Extra Small Devices (Portrait Phones & Smaller Devices) */

@media (max-width: 320px) {

}