.container {
  /* padding: 0 2rem; */
}
.containerX {
  margin-left: 14rem;
  margin-right: 14rem;
}
.headerWrapper {
  margin-bottom: 10rem;
}
.header {
  background-image: url("../assets/header5.jpg");
  height: 60vh;
  background-position: center top;
  background-size: cover;
}
.headerText {
  /* display: flex; */
  /* justify-content: space-evenly; */
  margin-top: -5rem;
  /* flex-wrap: wrap; */
}
.headerTitle {
  font-size: 12rem;
  font-weight: bold;
  width: 48%;
  line-height: 10rem;
}
.headerImgSection {
  margin-bottom: 10rem;
  margin-left: 14rem;
  margin-right: 14rem;
}
.linkBox {
  width: 30rem;
  height: 10rem;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}
.linkBox a {
  font-size: 1.6rem;
}
.headerImagesWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.headerLeftWrapper {
  background-image: url('../assets/outdoor-shopping.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 58%;
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.headerLeftOverlay {
  width: 100%;
  height: 100%;
  background: rgba(255, 94, 0, 0.192);
  display: flex;
  align-items: center;
}
.leftImgText {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  flex: 1;
  letter-spacing: 5px;
}
.roundText {
  width: 15rem;
  height: 15rem;
  background-color: #005161;
  border-radius: 7.5rem;
  margin-right: -7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roundText h5 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
}
.headerRightWrapper {
  width: 40%;
}
.rightImg {
  background-image: url('../assets/outdoor-shopping.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 25vh;
  margin-bottom: 1.5rem;
  margin-top: -0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightOverlay {
  width: 100%;
  height: 100%;
  background: rgba(255, 94, 0, 0.192);
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightImg::after {
  background: linear-gradient(rgba(0, 0, 0, 0.308), rgba(255, 255, 255, 0));
}
.rightImg h5 {
  font-size: 1.4rem;
  color: #fff;
  font-weight: bold;
}
.ourValues {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: 14rem;
  margin-right: 14rem;
}
.iconVal {
  width: 60px;
}
.box {
  background-color: #fafafa;
  /* background-color: red; */
  margin: 0.5rem;
  flex: 1;
  padding: 2rem 0;
}
.box h4 {
  font-size: 1.4rem;
}
.middleBoxWrapper {
  flex: 1;
}
.iconCircle {
  background-color: #e5e5e5;
  border-radius: 50%;
  padding: 2rem;
}
.menuTabSection {
  margin-left: 14rem;
  margin-right: 14rem;
}
.aboutSection {
  height: 50vh;
  margin-bottom: 8rem;
  margin-left: 14rem;
  margin-right: 14rem;
}
.aboutImg {
  height: 20rem;
}
.subItem {
  font-size: 1.2rem;
}
.testimonials {
  margin-bottom: -6rem;
}