.container {
  /* padding: 0 2rem; */
}
.headerWrapper {
  margin-bottom: 10rem;
}
.header {
  background-image: url("../assets/header5.jpg");
  height: 60vh;
  background-position: center top;
  background-size: cover;
}
.headerText {
  display: flex;
  justify-content: space-evenly;
  margin-top: -5rem;
}
.headerTitle {
  font-size: 12rem;
  font-weight: bold;
  width: 50%;
  line-height: 10rem;
}
.headerImgSection {
  margin-bottom: 10rem;
}
.linkBox {
  width: 30rem;
  height: 10rem;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}
.linkBox a {
  font-size: 1.6rem;
}
.headerImagesWrapper {
  display: flex;
  width: 100%;
}
.headerLeftWrapper {
  background-image: url('../assets/outdoor-shopping.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 60%;
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.leftImgText {
  font-size: 1.8rem;
  color: #fff;
  flex: 1;
}
.roundText {
  width: 15rem;
  height: 15rem;
  background-color: #529fb6;
  border-radius: 7.5rem;
  margin-right: -7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerRightWrapper {
  width: 40%;
}
.rightTopImg {
  background-image: url('../assets/outdoor-shopping.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 25vh;
  margin-bottom: 1.5rem;
  margin-top: -0.75rem;
}

.ourValues {
  display: flex;
}